@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap');

.bdy{
    background-color: #f2efe9;
    height: 100vh;
}

.title {
  justify-content: center;
  text-align: center;
  align-items: center;
  font-family: 'Roboto', sans-serif;
  padding-top: 1.25rem;
}
    
.cardd{
    justify-content: center;
    align-items: center;
    text-align: center;
}